{% extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center">
    <h2>Krakowski planszowy świat - Ankieta</h2>
</div>

<div class="container">
    <div class="page-header">
        <h1>Prosimy, wypełnij ankietę :)</h1>
    </div>
    <br>
    <div class="card">
        <div class="card bg-light">
            <div class="card-body">
                <h2>Cześć!</h2>
                <p align="justify"><font size="5">Dziękujemy Ci, że poświęcasz nam swój, jakże cenny, czas. Twoje
                    odpowiedzi pomogą nam, studentom Informatyki i Elektroniki w Medycynie, w składzie: Monika, Magda,
                    Bartek, Bartosz, Justyna, Marta i Kuba, wykonać projekt końcowo-roczny!<br>
                    Pytania odnoszą się do Twojej przygody z grami planszowymi.
                    </front></p></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-5">
            <form role="form" action="/save" method="post">

                <div class="form-group">
                    <label for="iff">Czy jako dziecko grałeś w gry planszowe:</label>
                    <select class="form-control" id="iff" name="if">
                        <option>Tak</option>
                        <option>Nie</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="which">Jeśli tak to w jakie:</label>
                    <select class="form-control" id="which" name="which">
                        <option>Chińczyk</option>
                        <option>Eurobiznes/Monopoly</option>
                        <option>Statki/okręty</option>
                        <option>Warcaby</option>
                        <option>Scrabble</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="if_now">Czy obecnie grasz w gry planszowe:</label>
                    <select class="form-control" id="if_now" name="if_now">
                        <option>Tak</option>
                        <option>Nie</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="type">Jaki gatunek najczęściej wybierasz:</label>
                    <select class="form-control" id="type" name="type">
                        <option>Strategiczne</option>
                        <option>Wojenne</option>
                        <option>Imprezowe</option>
                        <option>Eurogry</option>
                        <option>Karciane</option>
                        <option>Familijne</option>
                        <option>Fantasy</option>
                    </select>
                </div>
                <b>Płeć</b>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="q1" value="1" checked> Kobieta
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q1" value="2"> Mężczyzna
                    </label>
                </div>
                <b>Wiek</b>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="q2" value="1"> do 18
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q2" value="2"> 19-25
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q2" value="3" checked> 26-45
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q2" value="4"> 46-55
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="q2" value="5"> 55+
                    </label>
                </div>


                <button type="submit" class="btn btn-info btn-lg" style="width: 250px; height: 50px">Prześlij
                    odpowiedź
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}