<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Witamy w naszej ankiecie dotyczącej popularności gier planszowych.</h1>
{#    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>#}
  </div>

  <div class="page-header">
    <h1>Wybierz:</h1>
  </div>
  <p>
    <a href="/form" class="btn btn-success" role="button">Odpowiedz na pytania</a>
    <a href="/result" class="btn btn-primary" role="button">Zobacz wyniki</a>
  </p>


{% endblock %}

